{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="Discover the top 20 must-watch Suriya Sivakumar films. From action-packed thrillers to heartwarming dramas, find your favorite Cage movies and explore his iconic performances.">
<meta name="keywords" content="Suriya Sivakumar, Indian cinema, Tamil movies, Bollywood, Suriya Sivakumar films, Suriya Sivakumar actor, Suriya Sivakumar best movies, Suriya Sivakumar classics, Tamil film industry, Suriya Sivakumar performances, Indian actors, South Indian cinema, Suriya Sivakumar blockbuster hits, Suriya Sivakumar movies list, Suriya Sivakumar roles, Suriya Sivakumar movie reviews, Suriya Sivakumar popular movies, Suriya Sivakumar award-winning films, Suriya Sivakumar filmography, Suriya Sivakumar action movies, Suriya Sivakumar drama films">
{% endblock %}

{% block title %}Anime Tamil Dubbed Movies Download List{% endblock %}

{% block content %}

<div class="flex justify-center">
<div class="bg-gray-900 max-w-full rounded-md shadow-lg text-white my-8">
    <div class="px-4 leading-none max-w-4xl">

        <div class="text-gray-300">
           
        <h1 class="pt-4 text-2xl font-bold">Anime Tamil Dubbed Movies Download List</h1>
        <hr class="hr-text" data-content="">
        <div class="text-md flex justify-between px-4 my-2">
            <span class="font-bold hidden md:block">Popular Movies</span>
            <span class="font-bold"></span>
        </div>
        <p class="hidden md:block px-4 my-4 text-base text-left">
            At our platform, we provide comprehensive information about anime Tamil dubbed content, making it easy for you to find and enjoy your favorite anime in Tamil. Whether you're searching for the latest anime Tamil dubbed movies download, a complete anime Tamil dubbed list, or simply want to explore all anime Tamil content, we've got you covered. We also guide you on where to watch or download these shows, including popular options for anime Tamil download. For those on the go, discover the best all anime Tamil app download options to keep your anime library at your fingertips.</p>
                 
        <div class="text-xs">
        
           <a href='https://www.imdb.com/search/title/?keywords=anime'> <button type="button" class="border border-gray-400 text-gray-400 rounded-md px-4 py-2 m-2 mb-4 transition duration-500 ease select-none hover:bg-gray-900 focus:outline-none focus:shadow-outline">IMDB</button></a>
        </div>
                       
        </div>

    </div>
</div>
</div>

    <div class='flex justify-center items-center flex-wrap w-auto'>
        {% for movie in movies %}
        <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-30 md:w-60 mx-5 my-10">
           <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg rounded-xl md:h-30 bg-cover">
             <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"  alt={{movie.title}} />
           </div>
           <div class="px-5 py-2 md:p-6 flex-col gap-2">
             <h4 class="block mb-2 font-sans text-lg antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 flex-grow">
               {{ movie.title }}
             </h4>
             <p
               class="block font-sans text-sm antialiased font-medium leading-relaxed bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
               Rating: {{ movie.average_vote }}
             </p>
           </div>
         </div>
           {% endfor %}
           </div>


           <div class='flex items-center justify-center'>
            <div id="alert-border-1" class="flex items-center md:w-1/2 p-4 mb-4 text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <div class="ms-3 text-sm font-medium">
                  If you want to find Kamal Haasan movies to watch, click <a href='{% url "kamal_haasan" %}' class="font-semibold underline hover:no-underline">here</a>.
                </div>
               
            </div></div>

           <section class="flex flex-col items-center my-auto mx-auto bg-[#1c1c1cd6] w-full md:w-3/4 border-t-2 border-x-0 border-solid border-white">
            <div class="container px-6 py-10 mx-auto">
                <h2 class="text-xl font-semibold capitalize lg:text-2xl text-yellow-500">What anime movie should I watch?</h2>
                
                <p class="mt-2 text-gray-300 xl:mt-4 dark:text-gray-300">
                  We have curated a list of the best anime movies that you should watch. These movies are picked across all genres and are the best of anime. You can find the best anime movies on TamilYogi VIP and enjoy them with your friends and family.
                </p>

                <h2 class="text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Best curated list of anime movies</h2>
                <p class="mt-2 text-gray-300 xl:mt-4 dark:text-gray-300">
                    <a href='{% url "home" %}' class="font-semibold underline hover:no-underline">
                    TamilYogi VIP</a> provides a curated list of the best anime movies that you can watch. These movies are handpicked by our team of experts and are the best of anime. You can find these movies on TamilYogi VIP and enjoy them with your friends and family.
                </p>

                <h2 class="text-xl font-semibold capitalize lg:text-2xl text-yellow-500">How to watch anime in tamil online free?</h2>
                <p class="mt-2 text-gray-300 xl:mt-4 dark:text-gray-300">
                      You can watch anime in Tamil on TamilYogi VIP. We have a wide range of anime movies and shows that are dubbed in Tamil. You can watch these shows on our platform and enjoy them with your friends and family.    
                </p>

                <h2 class="text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Where to watch anime in tamil?</h2>
                <p class="mt-2 text-gray-300 xl:mt-4 dark:text-gray-300">
                    You can watch anime in Tamil on TamilYogi VIP. We have a wide range of anime movies and shows that are dubbed in Tamil. You can watch these shows on our platform and enjoy them with your friends and family.
                </p>

                <h2 class="text-xl font-semibold capitalize lg:text-2xl text-yellow-500">How to download anime in tamil?</h2>
                <p class="mt-2 text-gray-300 xl:mt-4 dark:text-gray-300">
                    You can download anime in Tamil on TamilYogi VIP. We have a wide range of anime movies and shows that are dubbed in Tamil. You can download these shows on our platform and enjoy them with your friends and family.    
                </p>
                

                
            </div>
        </section>

{% endblock %}