{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="{{ blog_obj.content | striptags | truncatechars:150 }}">
<meta name="keywords" content="{{blog_obj.name}}, {{blog_obj.title}}">
{% endblock %}

{% block title %}
{{blog_obj.title}}
{% endblock %}

{% block content %}

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 antialiased">
   <div class="flex justify-between mx-auto px-10 md:w-2/3 md:py-8 bg-slate-50">
       <article class="mx-auto w-full md:max-w-2xl py-5 md:py-0 format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
           <header class="mb-4 w-full lg:mb-6 not-format">
               <address class="flex items-center mb-6 not-italic">
                   <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                       <div>
                           <a href="#" rel="author" class="md:text-xl text-base font-semibold md:font-bold text-black">Author: {{blog_obj.author}}</a>
                           <p class="md:text-base text-xs text-black"><time pubdate datetime="2022-02-08" title="{{blog_obj.created_at}}">{{blog_obj.created_at}}</time></p>
                       </div>
                   </div>
               </address>
               <h1 class="mb-4 text-xl md:text-3xl text-center font-bold md:font-extrabold leading-tight text-black md:mb-6">{{blog_obj.title}}</h1>
           </header>
           <div class="mb-6 text-black bg-transparent text-lg md:text-xl tracking-tight md:tracking-normal">
               <p class=''>{{blog_obj.content | safe}}</p>
            </div>
            

           
       </article>
   </div>
 </main>
 

{% endblock %}

