{% extends "layout.html" %}

{% block title %}
Find Online HD Tamil Movies To Watch And Download
{% endblock %}

{% block content %}

<section class="md:py-15 flex items-center min-h-screen justify-center">
    <div class="mx-auto max-w-[43rem] bg-black p-8 md:rounded-2xl border-solid border-y-2 md:border-2 border-white">
      <div class="text-center">
        <h1 class="mt-3 md:text-[3.0rem] text-[1.5rem] font-semibold md:font-bold tracking-tight text-white">TamilYogi VIP<br>Get Best Indian Movies Online</h1>
        <p class="mt-3 text-base md:text-lg leading-relaxed text-slate-300">
          Tamilyogi helps you find Hindi, Telugu, Tamil, Kannada, Malayalam, and Dubbed movies online. Stream the latest films from various OTT platforms in one place.
        </p>
      </div>
  
        {% comment %} <div class="mt-3 md:mt-6 h-40 flex items-center justify-center gap-4">
          <a class='flex sm:w-1/2 sm:h-1/2 h-1/4 justify-center items-center border-solid border-2 md:border-4 rounded-md bg-yellow-600 text-white' href='{% url "random" %}'>
          <div class = 'w-[4.5rem] font-medium text-center text-sm md:text-base md:font-medium'>
            Random
          </div></a>
          <a class='flex sm:w-1/2 sm:h-1/2 h-1/4 justify-center items-center border-solid border-2 md:border-4 rounded-md bg-teal-600 text-white' href='{% url "mood" %}'>
            <div class = 'w-[4.5rem] font-medium text-center text-sm md:text-base md:font-medium'>
              Advanced
            </div></a>
            <a class='flex sm:w-1/2 sm:h-1/2 h-1/4 justify-center items-center border-solid border-2 md:border-4 rounded-md bg-purple-600 text-white' href='{% url "similar" %}'>
              <div class = 'w-[4.5rem] font-medium text-center text-sm md:text-base md:font-medium'>
                Similar
              </div></a>
        </div> {% endcomment %}
    </div>
  </section>

 {% comment %} <div class="w-full">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="font-manrope text-4xl font-bold text-black text-center mb-14">Best Tamil Movies to Watch</h2>
        </div>
        <div class="mx-auto mt-10 grid max-w-lg md:max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-12 lg:mx-0 lg:max-w-none lg:grid-cols-3 ">
  {% for blog in tamil_posts %}
          <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 dark:bg-gray-700 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src="/media/{{blog.image}}" alt="{{blog.title}}" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300"><time
                    datetime="2023-09-25" class="mr-8">{{blog.created_at}}</time>
                <div class="-ml-4 flex items-center gap-x-4"><svg viewBox="0 0 2 2"
                        class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg>
                    <div class="flex gap-x-2.5">
                        {{blog.author}}
                    </div>
                </div>
            </div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                <a href="{% url "blog_detail" blog.slug %}"><span class="absolute inset-0"></span>{{blog.title}}</a>
            </h3>
          </article>
  {% endfor %}
  </div>
  </div>
  </div> {% endcomment %}

  {% comment %} <div class="w-full">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="font-manrope text-4xl font-bold text-black text-center mb-14">Best Telugu Movies to Watch</h2>
        </div>
        <div class="mx-auto mt-10 grid max-w-lg md:max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-12 lg:mx-0 lg:max-w-none lg:grid-cols-3 ">
  {% for blog in telugu_posts %}
          <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 dark:bg-gray-700 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src="/media/{{blog.image}}" alt="{{blog.title}}" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300"><time
                    datetime="2023-09-25" class="mr-8">{{blog.created_at}}</time>
                <div class="-ml-4 flex items-center gap-x-4"><svg viewBox="0 0 2 2"
                        class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg>
                    <div class="flex gap-x-2.5">
                        {{blog.author}}
                    </div>
                </div>
            </div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                <a href="{% url "blog_detail" blog.slug %}"><span class="absolute inset-0"></span>{{blog.title}}</a>
            </h3>
          </article>
  {% endfor %}
  </div>
  </div>
  </div> {% endcomment %}

  <div class="w-full">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="font-manrope text-4xl font-bold text-black text-center mb-14">Best Tamil Movies to Watch</h2>
        </div>

        <div class='flex justify-center items-center flex-wrap w-auto'>
          {% for movie in movies %}
            <a href="{% url 'movie_detail' id=movie.id slug=movie.title|slugify %}" class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-30 md:w-60 mx-5 my-10">
              <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg rounded-xl md:h-30 bg-cover">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" />
              </div>
              <div class="px-5 py-2 md:p-6 flex-col gap-2">
                <h4 class="block mb-2 font-sans text-lg antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 flex-grow">
                  {{ movie.title }}
                </h4>
                <p class="block font-sans text-sm antialiased font-medium leading-relaxed bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
                  Rating: {{ movie.vote_average }}
                </p>
              </div>
            </a>
          {% endfor %}
        </div>
        

  </div>
  </div>

  {% comment %} <div class="w-full dark:bg-gray-800">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="font-manrope text-4xl font-bold text-black text-center mb-14">Best Dubbed Movies to Watch</h2>
        </div>
        <div class="mx-auto mt-10 grid max-w-lg md:max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-12 lg:mx-0 lg:max-w-none lg:grid-cols-3 ">
  {% for blog in dubbed_posts %}
          <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 dark:bg-gray-700 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src="/media/{{blog.image}}" alt="{{blog.title}}" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300"><time
                    datetime="2023-09-25" class="mr-8">{{blog.created_at}}</time>
                <div class="-ml-4 flex items-center gap-x-4"><svg viewBox="0 0 2 2"
                        class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg>
                    <div class="flex gap-x-2.5">
                        {{blog.author}}
                    </div>
                </div>
            </div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                <a href="{% url "blog_detail" blog.slug %}"><span class="absolute inset-0"></span>{{blog.title}}</a>
            </h3>
          </article>
  {% endfor %}
  </div>
  </div>
  </div> {% endcomment %}
  

  <section class="flex flex-col items-center mx-auto mt-10 bg-[#1c1c1cd6] w-full md:w-3/4 border-y-2 border-x-0 border-solid border-white">
    <div class="container px-6 py-10 mx-auto">
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">What Tamil movie should I watch?</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          Looking for best Tamil movies to watch? Tamilyogi vip is here to help. We will suggest you the best Tamil movies based on your mood, genre, decade and occasion. Our movie recommender system will help you find the best Tamil movie to watch.
        </p>

        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">What Telugu movie should I watch?</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          If you are looking for best Telugu movies to watch, Tamilyogi vip is here to help. We will suggest you the best Telugu movies based on your mood, genre, decade and occasion. Our movie recommender system will help you find the best Telugu movie to watch.

        </p>
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Movies by Top Indian Actors or Actress</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          Tamilyogi vip has a wide range of movies by top Indian actors like <a href='{% url "vikram" %}' class="font-semibold underline hover:no-underline">Vikram</a>, <a href='{% url "dhanush" %}' class="font-semibold underline hover:no-underline">Dhanush</a>, and <a href='{% url "vijay-sethupathi" %}' class="font-semibold underline hover:no-underline">Vijay Sethupathi</a>. We suggest you the best movies by top Indian Actors or Actress.
        </p>
        
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">New Tamil Movies</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          We have a wide range of new Tamil movies in our database. We suggest you the best new Tamil movies to watch based on your mood, genre, decade and occasion.
        </p>
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Telugu Movies</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          We have a wide range of Telugu movies in our database. We suggest you the best new Telugu movies to watch based on your mood, genre, decade and occasion.
        </p>
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Dubbed Movies</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          We have a wide range of dubbed movies in our database. We suggest you the best new dubbed movies to watch based on your mood, genre, decade and occasion.
        </p>
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Bollywood Movies</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          We have a wide range of Bollywood movies in our database. We suggest you the best new bollywood movies to watch based on your mood, genre, decade and occasion.
        </p>
        
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">HD, BluRay Movies</h2>
        <p class="mt-1 text-gray-300 dark:text-gray-300">
          We have a wide range of HD, BluRay movies in our database. We suggest you the best new HD, BluRay movies to watch based on your mood, genre, decade and occasion.
        </p>
        <h2 class="mt-4 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Unlimited Movies</h2>
            <p class="mt-1 text-gray-300 dark:text-gray-300">
              Watch unlimited Tamil, Telugu, Hindi, Dubbed movies online. Stream the latest films from various OTT platforms in one place.
            </p>
        
    </div>
</section>


  <div class=" py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 py-6 lg:py-8 lg:px-8 bg-[#1c1c1cd6] md:rounded-2xl border-y-2 border-x-0 border-solid md:border-2 border-white">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-cyan-600">We provide HD quality movies suggestions.</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-yellow-500 sm:text-4xl">Watch latest movies of your choice,<br>for free</p>
        <p class="mt-6 text-lg leading-8 text-slate-300"></p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-yellow-500">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-teal-600">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                </svg>
              </div>
              HD Quality Movies
            </dt>
            <dd class="mt-2 text-base leading-7 text-slate-300">
              We provide HD quality movies to our users. We have a latest Tamil, Telugu, Hindi and dubbed movies in our database.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-yellow-500">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                </svg>
              </div>
              TamilYogi App
            </dt>
            <dd class="mt-2 text-base leading-7 text-slate-300">TamilYogi app will feature all the indian movies. It will provide Tamil, Telugu, Hindi and Dubbed movies in HD Quality. Tamilyogi app is yet to be released. you will find the apk here on the website.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-yellow-500">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-cyan-600">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
              </div>
              Super Hit Movies
            </dt>
            <dd class="mt-2 text-base leading-7 text-slate-300">TamilYogi have lists of superhit tamil, telugu, hindi and dubbed movies.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-yellow-500">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                </svg>
              </div>
              Download HD Movies
            </dt>
            <dd class="mt-2 text-base leading-7 text-slate-300">Tamilyogi provides HD movies to download for free.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  
<div class='w-3/4 flex flex-col mx-auto bg-[#1c1c1cd6] mb-10 rounded-2xl border-solid border-2 border-white'>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="font-manrope text-4xl font-bold text-yellow-500 text-center my-5">FAQ</h2>
  </div>


  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-1"
      >
        <span class='text-yellow-500'>What is TamilYogi?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-1"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        TamilYogi is an online platform that provides latest Tamil, Telugu, Hindi, and Dubbed movies. Users can watch movies online for free.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-2"
      >
        <span class='text-yellow-500'>How to use TamilYogi?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-2"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        Visit TamilYogi website, select the movie you want to watch, and click on the play button.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-3"
      >
        <span class='text-yellow-500'>Is tamilyogi legal?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-3"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        TamilYogi is an illegal website that provides pirated movies. It is illegal to watch movies on TamilYogi.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-4"
      >
        <span class='text-yellow-500'>Is it safe to watch movies on tamilyogi?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-4"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
       Yes, you can watch movies on TamilYogi. It doesnt collect user data. So, it is safe to watch movies on TamilYogi. 
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-5"
      >
        <span class='text-yellow-500'>How to unblock TamilYogi in mobile?
        </span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-5"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        Use VPN to unblock TamilYogi in mobile. Download any VPN app from playstore, and connect to a server where TamilYogi is not blocked.
      </div>
    </div>
  </div>


  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-6"
      >
        <span class='text-yellow-500'>Which VPN is free for TamilYogi?
        </span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-6"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        Use SuperVPN, or TurboVPN to unblock TamilYogi for free. These VPNs are free to use and provide good speed.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-7"
      >
        <span class='text-yellow-500'>Can i watch Telugu movies on TamilYogi?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-7"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        Yes, you can watch Telugu movies on TamilYogi. TamilYogi provides latest Telugu movies in HD quality.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-8"
      >
        <span class='text-yellow-500'>How to download TamilYogi films?</span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-8"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        You can download TamilYogi films using IDM. Just click on the download button, and IDM will start downloading the movie.
      </div>
    </div>
  </div>

  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-white rounded-t-1 group text-dark-500"
        data-collapse-target="animated-collapse-10"
      >
        <span  class='text-yellow-500'>How to download free movies?<span>
        <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
      </button>
    </h6>
    <div
      data-collapse="animated-collapse-10"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-slate-300">
        You can download free movies from TamilYogi. Just click on the download button, and IDM will start downloading the movie.
      </div>
    </div>
    </div>
</div>

    
{% endblock %}